const existing = [...document.querySelectorAll('#{{ apps[name].slug }}')];
if (existing.length) existing.map((el) => el.remove());
if (!(window.bunjomin instanceof Object)) return;
const {{ apps[name].slug }} = Vue.component('{{ apps[name].slug }}', componentOptions);
{% include 'components/base.js.njk' %}
window.bunjomin.page = '{{ apps[name].slug }}';
