<script type="application/javascript">
  (() => {
    if (window.bunjomin instanceof Object) return;
    {% include './router.plugin.js' %}
    Vue.use(router);
    {% include './components/router-link.js.njk' %}
    {% include './components/top-nav.js.njk' %}
    {% include './components/base.js.njk' %}
  })();
</script>
