---js
{
  name: 'about',
  title: 'About',
  layout: 'default',
  permalink: '/about/'
}
---
<script type="application/javascript" id="{{ apps[name].slug }}">
  (() => {
    const componentOptions = {
      template: `
        <div>
          <h1>Hoo haw!</h1>
          <router-link target="index">About</router-link>
        </div>
      `,
      mounted() {
        this.$nextTick(() => {
          console.log('Mounted ABOUT');
        });
      }
    };
    {% include 'app-wrapper.js.njk' %}
  })();
</script>
