<script type="application/javascript">
  (() => {
    if (!(window.bunjomin instanceof Object)) return;
    const {{ apps[name].slug }} = Vue.component('{{ apps[name].slug }}', {
      template: '<div><h1>Ho haw!</h1><a href="/">Home</a></div>'
    });
    window.bunjomin.page = '{{ apps[name].slug }}';
  })();
</script>
