@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-size: var(--textSmall);
  font-family: var(--family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: var(--textXXlarge);
}

h2,
h3,
h4 {
  font-size: var(--textXlarge);
}

h5 {
  font-size: var(--textMedium);
}

h6 {
  font-size: var(--textSmall);
}

a {
  color: var(--color-primary);
  font-weight: 600;
  transition: color 0.2s ease-in-out 0s;
}

a:hover {
  color: var(--color-primary-lighten-1);
}
