---js
---
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'vue.js' %}
    <div id="root"></div>
    {% include 'base.js.njk' %}
    {{ content | safe }}
  </body>
</html>
