---js
---
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <script type="application/javascript">
      {% include 'vue.js' %}
    </script>
    {{ content|safe }}
  </body>
</html>
