Vue.component('top-bar', {
  template: `
    <header>
      <nav>
        <ul>
          <li>
            <router-link target="index">Home</router-link>
            <router-link target="about">About</router-link>
          </li>
        </ul>
      </nav>
    </header>
  `
});
